@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: #f3eded; 
    height: 125px; 
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}
#banner {
    width: 100%;
    background-image :url(2.jpg);
    height: 463px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}



#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#07d385;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
}

#list-products .item .stars {

    display: flex;
    margin:0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#ff7504;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top:20px;
}


.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}


#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:128px;
}

#saleoff .box-right {
    background-image:url("assets/off.png");
}


#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#f70909;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#e20a0a;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:rgb(236, 230, 230);
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}
/*-----------------------cart----------------------*/
.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;

}
.cart h2 {
    margin-bottom: 20px;

}
.cart table{
    width: 100%;
}
.cart table thead tr th:first-child{
    text-align: left;

}
.cart table tr td{
    border-bottom: 1px solid ;
    padding: 12px 0;
}
.cart table thead tr th:last-child{
    text-align: right;

}
.card {
    width: 50px;
    height: 50px;
    display: flex;
    color: white;
}
.card span{
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    color: #6667ab;
    margin-left: 1275px;
}
.card img{
    width: 100%;
    height: 100%;
    margin-right: 60px;
}

.showgiohang img{
    width: 100px;
    height: 100px;
}
.footer{
    background-color: #353535;
    width: 980px;
    min-height: 30px;
    justify-content: space-around;
    margin-top: 15px;

}
.footer-main{
    display: flex;
    justify-content: space-around;
    
}
#muc1 p{
    text-decoration: none;
    color: darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}
#muc2 p{
    text-decoration: none;
    color: darkgrey;
    margin-top: 10px;
}
#muc3 i{
    margin-top: 10px;
    margin-left: 10px;
}
#muc1 a{
    text-decoration: none;
}
#muc2 a{
    text-decoration: none;
}

i{
    color: black;
    font-size: 20px;
    
}
#muc1 h4{
    margin-top: 10px;
}
#muc2 h4{
    margin-top: 10px;
}
#muc3 h4{
    margin-top: 10px;
}
.logo{
    margin-left: -58px;
}
.footer-tk{
    padding: 10px;
}
.footer-tk p{
    color: #ccc;
    text-align: center;
}
/*phần chỉnh sửa*/
.product{
    width: 290px;
    height: 374px;
    background-color: #362f2f;
    border-radius:10px ;
    text-align: center;
    margin-bottom: 30px;
}
.product img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
}
.wrapper{
    width: 980px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.showgiohang{
    position: absolute;
    z-index: 10;
    top: 150px;  
    color: white;
    background-color: #6667ab;
    border-radius: 10px;
    right: 40px;
   
}
table td{
    padding: 10px;
}
